@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* (Dark Mode Elements) */
  --color-Blue-900: hsl(209, 23%, 22%);
  /* (Dark Mode Background) */
  --color-Blue-950: hsl(207, 26%, 17%);
  /* (Light Mode Text) */
  --color-Grey-950: hsl(200, 15%, 8%);
  /* (Light Mode Input) */
  --color-Grey-400: hsl(0, 0%, 50%);
  /* (Light Mode Background) */
  --color-Grey-500: hsl(0, 0%, 99%);
  /* (Dark Mode Text & Light Mode Elements) */
  --color-White: hsl(0, 100%, 100%);
}

@theme {
  /* (Dark Mode Elements) */
  --color-Blue-900: hsl(209, 23%, 22%);
  /* (Dark Mode Background) */
  --color-Blue-950: hsl(207, 26%, 17%);
  /* (Light Mode Text) */
  --color-Grey-950: hsl(200, 15%, 8%);
  /* (Light Mode Input) */
  --color-Grey-400: hsl(0, 0%, 50%);
  /* (Light Mode Background) */
  --color-Grey-500: hsl(0, 0%, 99%);
  /* (Dark Mode Text & Light Mode Elements) */
  --color-White: hsl(0, 100%, 100%);
}
